<div class="container wfixedMenu">
  <div class="row">

      <div class="col-xs-12">
        <form  (ngSubmit)="onSubmit(post)" #addPost_form="ngForm"  class="form-horizontal">
            <div class="form-group">
              <label  class="control-label">Post Title</label>  
              <input  class="form-control" [(ngModel)]="post.title" required name="title" placeholder="Post Title" type="text">
            </div>

            <div  class="form-group">
              <label  class="control-label">Post Content</label> 

              <textarea  class="form-control" [(ngModel)]="post.body" required name="body" placeholder="Post Content"></textarea>
            </div>
            <div  class="form-group">
              <label  class="control-label">Pre Content</label> 
              <textarea  class="form-control" [(ngModel)]="post.pre" required name="pre" placeholder="Pre Content"></textarea>
            </div>

            <div class="form-group">
              <label  class="control-label">Source Post</label>  
              <input  class="form-control" [(ngModel)]="post.source" required name="source" placeholder="Source Post" type="text">
            </div>

            <div class="form-group">
                <button  class="btn btn-warning" type="submit">Send<span  class="glyphicon glyphicon-send"></span></button>
              <textarea  class="form-control" [(ngModel)]="post.body" name="body" required placeholder="Post Content"></textarea>
            </div>

            <div class="form-group">
              <label class="control-label">Pre Code</label>
              <textarea class="form-control" [(ngModel)]="post.pre" name="pre" required placeholder="Pre Code"></textarea>
            </div>
            <div class="form-group">
              <input type="file" [ng-file-select]="options" (onUpload)="handleUpload($event)">
              <div>
                Response: {{ uploadFile | json }}
              </div>
            </div>

            <div class="form-group">
              <label  class="control-label">Source Post</label>
              <input  class="form-control" [(ngModel)]="post.source" name="source" required placeholder="Source Post" type="text">
            </div>

            <div  class="form-group">
              <button  class="btn btn-primary" type="submit">Send</button>
            </div>
        </form>
      </div>
  </div>
</div>
