<div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <h1>MY</h1>
          <h4>BLOG</h4>
          <hr>
          <p>Personal Blog</p>
          <!-- <img src="./app/vendors/images/img_profile_sou_eu.png" width="90" class="img-responsive img-circle" alt="Sou Eu"> -->
      </div>
      <div class="col-md-7 col-sm-7 col-md-offset-1 col-sm-offset-1 col-xs-12">
        <ul class="list-unstyled posts">
            <li *ngFor="let post of posts">
                <h3>{{ post.title }}</h3>
                <div *ngIf="post.video">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="updateVideoUrl(post.video.youtube.video_id)">
                        </iframe>
                    </div>
                </div>
                <p class="truncate" [innerHtml] >{{ post.summary }}</p>
                <a [attr.href]="'#' + post.url"  class="truncate">{{ post.url }}</a>
                <p><a (click)="selectDetail(post)">Read more...</a></p>
            </li>
        </ul>
      </div>
    </div>
</div>

